/* Styles for laptops mini*/
@media only screen and (min-width: 993px)  and (max-width: 1600px) {
    .routes__title {
        font-size: .8rem;
    }
    .routes__item {
        margin: .01vw 0;
        height: 2.2vw;
    }
    .routes__item img {
        width: 7vw;
        height: 2vw;
    }
    .more-turns {
        margin: 0 16vw;
    }
    .gift-top {
        
    }
    .get-gifts .title {
        line-height: 6vw;
        font-size: 1.2rem;
    }
    .get-gifts .title .text {
        font-size: 1rem;
    }
    .get-gifts .item {
        height: 34vw;
    }
    .get-gifts .item .quantity {
        padding: 8.8vw 1.2vw 0 0;
    }
    .get-gifts .item .quantity p {
        margin-top: 0.3vw;
    }
    .get-gifts .item a, .get-gifts .item a img {
        margin: 17vw 0.6vw 0 0;
    }

    .mt-quantity {
        margin-top: -0.48vw;
    }
}

/* Styles for mobile & tablet devices */
@media only screen and (max-width: 992px) {
    body {
        background-image: url('/assets/img/mobi/bg.png');
    }
    .card-routes {
        display: none;
    }
    .charts-btn {
        position: absolute;
        top: 78vw;
        right: 3vw;
    }
    .charts-btn a img {
        width: 23vw;
        margin: 0;
    }
    .more-turns {
        margin: 102vw 12vw 0;
    }
    .more-turns .btn {
        padding: 0;
    }
    .more-turns .btn:nth-child(2) {
        position: absolute;
        top: 90vw;
        right: 0;
    }
    .more-turns .btn:nth-child(2) img {
        width: 28vw;
    }
    .more-turns .btn a img {
        width: 34vw;
    }
    /* Gift Top */
    .gift-top {
        margin: 56vw 0 18vw;
    }
    .gift-top .item {
        padding: 0;
    }
    .gift-top .item:nth-child(2) {
        position: absolute;
        top: 124vw;
        right: 0;
    }
    .gift-top .item:nth-child(2) img {
        width: 36vw;
    }
    .gift-top .item img {
        width: 44vw;
    }
    /* Get Gift */
    .get-gifts {
        padding-top: 12vw;
    }
    .get-gifts .item {
        height: 74vw;
        width: 50vw;
    }
    .get-gifts .title {
        width: 50vw;
        height: 10vw;
        margin: .4vw 0 0 21vw;
        font-size: .6rem;
    }
    .get-gifts .item .quantity {
        padding: 20.8vw 4.2vw 0 0;
        font-size: .8rem;
    }
    .get-gifts .item a, 
    .get-gifts .item a img {
        margin: 32vw 2vw 0 0;
    }

    /* Footer */
    #routes-mob {
        display: block;
    }
    #routes-mob .list .item {
        background-image: url('/assets/img/mobi/bg-footer.png');
        background-repeat: no-repeat;
        height: 12vw;
    }
    #routes-mob .list .item img {
        width: 12vw;
        padding-top: 2vw;
    }
}

/* Styles for tablets */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    
}
  
/* Styles for mobile devices */
@media only screen and (max-width: 767px) {

}
  