body  {
    min-height: 100vw;
    background-image: url('/assets/img/pc/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #F6FAFA;
}

/* Routes */
.card-routes {
    height: 28vw;
    width: 12vw;
    color: #fff;
    background-image: url('/assets/img/pc/the-bai.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.routes__title {
    margin: 0;
    padding: 5.4vw 1vw .6vw 0;
}

.routes__list {
    width: 10.7vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.routes__item {
    height: 2.4vw;
}

.routes__item img {
    cursor: pointer;
}

/* Charts Btn */
.charts-btn a img {
    margin-top: -8vw;
    margin-left: 50vw;
    filter: brightness(1.4);
    animation: scaleAnimation 2s linear infinite;
}

@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
        transform: scale(1.2);
      }
    100% {
      transform: scale(1);
    }
}

@keyframes brightAnimation {
    0% {
      transform: scale(1);
      filter: brightness(1);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(1.4);
    }
}

/* More turn */
.more-turns {
    margin: 2vw 8vw;
}

.more-turns .btn a img {
    width: 11vw;
}

.more-turns .btn:hover {
    animation: brightAnimation 1.2s linear infinite;
}

.gift-top {
    margin: 10vw 10vw 18vw;
    align-items: center;
}

.gift-top .item img {
    width: 12vw;
    justify-content: center;
}

/* Get gifts */
.get-gifts {
    margin-bottom: 4vw;
}
.get-gifts .title {
    width: 20vw;
    height: 4vw;
    margin: -5vw 0 0 24vw;
    background-image: url(/assets/img/routes-btn/);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 1.2rem;
}

.get-gifts .title .text {
    padding-top: 3vw;
}

.get-gifts .item {
    height: 26vw;
    background-size: 100%;
    background-repeat: no-repeat;
}

.get-gifts .item .quantity {
    padding: 7vw 1.2vw 0 0;
    font-size: 1.2rem;
    color: #D3FF75;
}

.get-gifts .item a,
.get-gifts .item a img {
    margin: 12.8vw 0.6vw 0 0;
}

.get-gifts .item a:hover {
    animation: brightAnimation 1.2s linear infinite;
}

/* General */
.big-item {
    scale: 1.4;
}
